In [ ]:
import yaml
import pandas as pd
import os

In [ ]:
with open('extract.yaml','r') as file:
    inp = yaml.load(file, Loader=yaml.FullLoader)

In [ ]:
c_dir=os.getcwd()

In [ ]:
res_dir=inp['result_file']

In [ ]:
res_dir

'D:\\Thesis_R\\Stoch_sim_noise_results_210531\\results_noise'

In [ ]:
os.getcwd()

'C:\\Users\\ypyas\\Google Drive\\Thesis_stuff\\ML_files_new\\Crash parameters\\1000\\Noise'

In [ ]:
ex=pd.DataFrame.from_dict(inp['extract']).T

In [ ]:
ex

                                   csv                      out
thums_chest  [risk_of_ribfracture.csv]  [Risk(45yrs|2ribfx)(%)]

In [ ]:
df=pd.read_csv('maxstrains.csv', header=None)

In [ ]:
ex.loc['thums_chest'].csv[0]

'risk_of_ribfracture.csv'

In [ ]:
(len(os.listdir(res_dir))+1)

65

In [ ]:
df.iloc[0].T

In [ ]:
df = pd.DataFrame()
head={}
for file in range(1,len(os.listdir(res_dir))+1):
    file_name= '1.{}'.format(file)
    
    for m in ex.index:
        os.chdir(os.path.join(res_dir,file_name,m))
        df_head=pd.read_csv(ex.loc[m].csv, header=None)
#         for k in range(0,len(ex.loc[m].out)):
#             head[ex.loc[m].out[k]]=[df_head.loc[i,1] for i in range(0,len(df_head)) if df_head.loc[i,0] == ex.loc[m].out[k]]
#     da=pd.DataFrame.from_dict(head)
    da=df_head.iloc[0].T
    df = pd.DataFrame.append(df,da,ignore_index=True)

In [ ]:
df = pd.DataFrame()
head={}
for file in range(1,(len(os.listdir(res_dir))+1)):
    file_name= '1.{}'.format(file)
    
    for m in ex.index:
        os.chdir(os.path.join(res_dir,file_name,m))
        df_head=pd.read_csv(ex.loc[m].csv[0], header=None)
        for k in range(0,len(ex.loc[m].out)):
            head[ex.loc[m].out[k]]=[df_head.loc[i,1] for i in range(0,len(df_head)) if df_head.loc[i,0] == ex.loc[m].out[k]]
    da=pd.DataFrame.from_dict(head)
    df = pd.DataFrame.append(df,da,ignore_index=True)

In [ ]:
os.chdir(c_dir)

In [ ]:
df_output_res=pd.read_csv(inp['samples'], header = 1)
df_output_res[df.columns] = df
df_output_res.to_csv("1000_noise_ribrisk.csv", index=False)

In [ ]:
df

Empty DataFrame
Columns: [R, i, s, k, (, 4, 5, y, r, |, 2, b, f, x, ), %]
Index: []

In [ ]:
df_output_res

,Point,A2OFRC,B2OFRC,BELTLL1,DABPRES,DABRAD,DUR,DV,EV1,EV2,...,5,y,r,|,2,b,f,x,),%
0,1,0.297,0.300,3.93,1.31,332.0,110.0,48.8,0.000108,0.00895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.303,0.298,3.95,1.31,332.0,110.0,49.2,0.003830,-0.00375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0.301,0.299,3.93,1.31,332.0,109.0,48.8,0.010000,0.00931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.297,0.300,3.94,1.31,332.0,110.0,49.2,-0.000213,0.00536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0.298,0.301,3.94,1.31,332.0,110.0,48.9,-0.008590,-0.00112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,0.302,0.301,3.94,1.31,332.0,109.0,48.8,-0.001190,0.00785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,61,0.302,0.302,3.95,1.31,332.0,109.0,49.0,0.006600,0.00486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,62,0.302,0.301,3.94,1.31,332.0,109.0,49.1,0.012900,-0.00694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,63,0.299,0.302,3.95,1.31,332.0,110.0,48.8,-0.014000,0.00384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,64,0.300,0.303,3.93,1.31,332.0,110.0,49.0,-0.009350,-0.00723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN